html, body, #root{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  text-align: left;
}

.App {
   flex: 1;
   display: flex;
   flex-direction: column;
}